<br>
<% @advertises.each do |advertise| %>
	<div class="panel panel-default">
		<div class="panel-heading">
		  <h3 class="panel-title"><%= link_to advertise.title, advertise %></h3>
		</div>
		<div class="panel-body">
		  <%= advertise.description %>
		</div>
		<div class="panel-heading">
    <%= link_to 'Read More', advertise %>
    <% if logged_in_admin? %>
       | <%= link_to 'Edit', edit_advertise_path(advertise) %>
       | <%= link_to 'Destroy', advertise, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
	</div>
	</div>
<% end %>

<br>
<% if logged_in_admin? %>
	<div class="panel panel-default">
	<div class="panel-heading">
		<%= link_to 'New Advertise', new_advertise_path %>
	</div>
	</div>
<% end %>
