<% @user.userinfos.each do |info| %>
	<p>
		<strong>Date of birth:</strong>
		<%= info.date_of_birth.strftime("%B %d, %Y") %>
	</p>

	<p>
		<strong>Gender:</strong>
		<%= info.gender %>
	</p>

	<p>
		<strong>Mobile:</strong>
		<%= info.mobile %>
	</p>

	<p>
		<strong>Address:</strong>
		<%= info.address %>
	</p>

<br>
<%= link_to 'Edit Profile', edit_user_userinfo_path(@user, info),
																															class: "btn btn-success" %>
<% end %>
