<h2>Edit Education</h2>
<%= form_for([current_user, @education]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
   <div class="row">
   <div class="col-md-6">
    <%= f.text_field :division, class: "form-control", placeholder: "Division or Grade" %>
   </div>
   <div class="col-md-6">
    <%= f.text_field :obtained_marks, class: "form-control", placeholder: "Obtained Marks" %>
   </div>
   </div>
   <div class="row">
    <%= f.date_select(:pass_year, start_year: 1985, discard_day: true, discard_month: true,
                                                    prompt: "Select Year") %>
   <div class="col-md-4">
    <%= f.collection_select(:degre_id, Degre.all, :id, :name_with_type,
                            {prompt: "Select a Deree"}, class: "form-control") %>
    </div>
    <div class="col-md-4">
    <%= f.collection_select(:institute_id, Institute.all, :id, :name_with_city,
                            {prompt: "Select a Institute"}, class: "form-control") %>
    </div>
    </div>
    <%= f.submit "Update", class: "btn btn-primary" %>

<% end %>
