<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @degre.name %>
</p>

<p>
  <strong>Drege type:</strong>
  <%= @degre.drege_type %>
</p>

<%= link_to 'Edit', edit_degre_path(@degre) %> |
<%= link_to 'Back', degres_path %>
